@model Travel_Agency.ViewModel.UserViewModel
@using Travel_Agency.Models;
@{
    ViewBag.Title = "LoginPage";
    //Layout = "~/Views/_LayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SCE Login Page</title>
    <style>
        html {
            /*/background-image: url('../../images/bg3.jpg');*/
            background-size: cover;
        }
    </style>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<body>
    <div>
        <center>
            @using (Html.BeginForm("LoginPage", "Login", FormMethod.Post))
            {
                if (Session["LogoutFname"] != null)
                {
                    <span style="color:red">@Session["LogoutFname"],You are logout.Have a nice Day!</span>
                    <br />
                    <br />
                    <div style="background-color:white">
                        <font size="4" color="yellowgreen" style="flex-grow:inherit">Login to see information</font>
                    </div>
                    Session["LogoutFname"] = null;
                }
                else
                {
                    <br />
                    <div style="background-color:white">
                        <font size="4" color="yellowgreen">Login to see information</font>
                    </div>
                }
        <pre>
        <b>User Name :</b>  @Html.TextBoxFor(m => m.user.userName) @Html.ValidationMessageFor(x => x.user.userName)
        <b>Password  :</b>  @Html.TextBoxFor(m => m.user.Password) @Html.ValidationMessageFor(x => x.user.Password)
        <input id="Submit1" type="submit" value="Login" />











                


        
        <span style="color:red">@ViewBag.UserORPassError</span>
        </pre>
            }
        </center>
    </div>
    <div style="position: absolute; bottom: 4px; background-color: yellowgreen">
        ©All rights reserved SCE
    </div>
</body>
</html>


